@media (min-width:992px) {
    .navbar-expand-lg .navbar-nav .nav-link{
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .navbar-nav .nav-link.active::after{
        content: '';
        position: absolute;
        width: calc(100% - 2rem);
        height: 3px;
        background-color: rgb(113 107 205 / 90%);
        bottom: -3px;
        left: 1rem;
    }
}
@media (min-width:1200px) {
    .slider h2{
        font-size: 4rem;
    }
    
}

@media (max-width: 575px) {
    .slider{
        height: 100vh;
    }
}